body {
  font: 22px "Century Gothic", Futura, sans-serif;
  display: block;
  margin: 30px;
  background-color: rgb(214, 214, 228);
}

ol,
ul {
  padding-left: 50px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(224, 208, 208);
  border: 1px solid rgb(20, 2, 2);
  float: left;
  font-size: 22px;
  font-weight: bold;
  line-height: 55px;
  height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 75px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: rgb(231, 143, 143);
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  color: rgb(128, 128, 128);
  margin-left: 10px;
  font-weight: bold;
}
