body {
  font: 14px "Century Gothic", Futura, sans-serif;
  display: block;
  margin: 50px;
}

ol,
ul {
  padding-left: 550pt;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(224, 3, 3);
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 150px;
  height: 150px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: double;
}

.kbd-navigation .square:focus {
  background: rgb(247, 3, 3);
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 100px;
}
